.defaultFont {
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px !important;
  color: #787878;
}

.cell {
  text-align: left !important;
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px !important;
  color: #787878;
  vertical-align: center !important;
}

.row {
  height: 50px;
  position: relative;
  transition: all 0.225s cubic-bezier(0, 0, 0.2, 1);
}

.row .cell {
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px !important;
  color: #787878;
  font-size: 14px !important;
  color: #919498;
  padding-right: 0px !important;

  padding: 23px 28px 23px 28px;
  opacity: 1;
}

.row .trashBin {
  transition: all 0.225s cubic-bezier(0, 0, 0.2, 1);
  opacity: 1;
}

.row:hover {
  cursor: pointer;
  background-color: transparent !important;
  position: inherit;
}

.row .highlight {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  opacity: 1;
}

.rowCursorDefault:hover {
  cursor: default !important;
}


.cellCursorPointer:hover {
  cursor: pointer;
}

.trashBin {
  opacity: 0;
}

.countGroupByCellEmpty {
  font-size:  14px;
  color: #C8CACC;
}

.countGroupByCellText {
  font-size:  14px;
  color: #919498;
}

.countGroupByCellBullet {
  margin: 0px 4px;
}

.tooltipContent {
  font-size: 12px;
}