.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.controlIndicator {
  position: absolute;
  top: -3px;
  left: 0;
  height: 20px;
  width: 20px;
  border: solid 1px #e4e4e4;
  background: #fff;
}
.controlIndicator .control:hover,
.controlIndicator .control input:focus,
.controlIndicator .control input:checked,
.controlIndicator .control:hover input:not([disabled]):checked,
.controlIndicator .control input:checked:focus {
  background: #fff;
}

.controlIndicator .control input:disabled {
  background: #6d6d6d;
  opacity: 0.6;
  pointer-events: none;   
  
}
.controlIndicator::after {
  content: '';
  position: absolute;
  display: none;
}

.controlIndicator::after .control input:checked {
  display: block;
}

.controlIndicator::after .controlCheckbox {
  left: 5px;
  top: -2px;
  width: 6.6px;
  height: 16.4px;
  border-width: 0 2px 2px 0;
  transform: rotate(40deg);
}

.controlIndicator:after .controlCheckbox input:disabled {
  border-color: #6d6d6d
}



